<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">
	<bean id="activemq" class="org.apache.camel.component.activemq.ActiveMQComponent">
		<property name="connectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL" value="tcp://127.0.0.1:61616" />
			</bean>
		</property>
	</bean>
	<camelContext id="test-camel" xmlns="http://camel.apache.org/schema/spring">
		<route>
			<from uri="activemq:topic:WCS.BroadcastQueue" />
			<process ref="testActiveMQProcessor" />
		</route>
	</camelContext>
</beans>